<module>
	<rawname>endpointman</rawname>
	<repo>standard</repo>
	<name>PBX End Point Manager</name>
	<version>2.9.0.3RC5</version>
	<type>tool</type>
	<category>End Point Manager</category>
	<publisher>Andrew Nagy</publisher>
	<license>MPLv1.1</license>
	<menuitems>
		<epm_devices sort="1">End Point Device List</epm_devices>
		<epm_templates sort="2">End Point Template Manager</epm_templates>
		<epm_config sort="3">End Point Configuration</epm_config>
		<epm_advanced sort="4">End Point Advanced Settings</epm_advanced>
	</menuitems>
	 <description>PBX End Point Manager supports automated deployment of multiple manufacturers IP telephones.</description>
	 <changelog>
		*2.9.0.0* bumped for 2.9, removed errors in module.xml causing erors for online xml parsing
                *2.3.2* Various Bug Fixes
                *2.3.1* Install directory case corrections
                *2.3.0* No Changes
        </changelog>
	<info>http://projects.colsolgrp.net/projects/show/endpointman</info>
	<location>release/2.9/endpointman-2.9.0.3RC2.tgz</location>

<md5sum>f4aed8221b1398a65438454786ce8089</md5sum>
</module>
