<table align='center' width='90%'>
<tr>
    <td align='center'>{if condition="$subhead_area == 'settings'"}<h4 style="color:#ff9933;"><?=_('Settings')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=settings'><?=_('Settings')?></a></h4>{/if}</td>
    <td align='center'>{if condition="$subhead_area == 'oui_manager'"}<h4 style="color:#ff9933;"><?=_('OUI Manager')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=oui_manager'><?=_('OUI Manager')?></a></h4>{/if}</td>
    <td align='center'>{if condition="$subhead_area == 'poce'"}<h4 style="color:#ff9933;"><?=_('Product Options/Configuration Editor')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=poce'><?=_('Product Options/Configuration Editor')?></a></h4>{/if}</td>
</tr>
<tr>
    <td align='center'>{if condition="$subhead_area == 'iedl'"}<h4 style="color:#ff9933;"><?=_('Import/Export Devices My Devices List')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=iedl'><?=_('Import/Export Devices My Devices List')?></a></h4>{/if}</td>
<td align='center'>{if condition="$subhead_area == 'manual_upload'"}<h4 style="color:#ff9933;"><?=_('Manual Endpoint Modules Upload')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=manual_upload'><?=_('Manual Endpoint Modules Upload')?></a></h4>{/if}</td>
<td align='center'>{if condition="$subhead_area == 'sh_manager'"}<h4 style="color:#ff9933;"><?=_('Show/Hide Brands/Models')?></h4>{else}<h4><a href='config.php?type=tool&amp;display=epm_advanced&amp;subpage=sh_manager'><?=_('Show/Hide Brands/Models')?></a></h4>{/if}</td>
</tr>
</table>
<hr width='90%'>