{if condition="isset($show_error_box)"}
    {include="message_box"}
{/if}
<form action='' method='POST'>
<table width='90%' align='center'>
<tr>
<td width='50%' align='right'><?=_("IP address of phone server")?>:</td>
<td width='50%' align='left'><input type='text' id='srvip' name='srvip' value='{$srvip}'><a href='#' onclick="document.getElementById('srvip').value = '{$ip}'; "><?=_("Determine for me")?></a></td>
</tr>
<tr>
  <td align='right'><?=_("Configuration Type")?></td>
  <td align='left'>
      <select name="cfg_type" id="cfg_type" disabled>
            <option value="file">File (TFTP/FTP)</option>
            <option value="web">Web (HTTP)</option>
        </select>
  </td>
</tr>
<tr>
  <td align='right'><?=_("Global Final Config & Firmware Directory")?></td>
  <td align='left'><label>
    <input type="text" name="config_loc" value="{$config_location}">
  </label></td>
</tr>
<tr>
  <td align='right'><br/></td>
  <td align='left'></td>
</tr>
<tr>
<td width='50%' align='right'><?=_("Time Zone")?> (<?=_('like')?> USA-5)</td>
<td width='50%' align='left'><select name="tz" id="tz">
	{loop name="list_tz"}
	<option value="{$value.value}" {if condition="$value.selected == 1"}selected='selected'{/if}>{$value.text}</option>
	{/loop}
</select>
</td>
</tr>
<tr>
<td width='50%' align='right'><?=_("Time Server (NTP Server)")?></td>
  <td align='left'><label>
    <input type="text" name="ntp_server" value="{$ntp_server}">
  </label></td>
</tr>
<tr>
<td colspan='2' align='center'><input type='Submit' name='button_update_globals' value='<?=_('Update Global Overrides')?>'><input type=button value="Close Window" onClick="javascript:window.close();">
</td>
</tr>

</table>
</form>
